.HomeBanner {
  background-image: url("./home.jpeg");
  height: 600px;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.HomeBanner h1 {
  font-size: 60px;
}

.HomeBanner h1, h3 {
  text-shadow: 3px 3px #333;
}