/*
  COLOR PALETTE: 
  - eerie black: #131313
  - davys grey: #4C4C4C
  - gray web: #7E7F7E
  - silver chalice: #B1B1B1
  - gainsboro: #DBDBDB
  - white: #FFFFFF

  FONT: Robot Mono
*/

body {
  background-color: #131313;
  color: #FFFFFF;
  font-family: 'Roboto Mono';
}